.slide___3-Nqo {
  max-height: max-content;
  height: auto !important;
  padding-bottom: 0 !important;
}
.slideInner___2mfX9 {
  position: relative !important;
}
.focusRing___1airF.carousel__slide-focus-ring {
  outline: none !important;
}
iframe {
  display: none;
}
.rm-audio-player-provider {
  z-index: 1000;
}
.react-jinke-music-player-main {
  z-index: 1000;
  position: relative;
}
.music-player-panel {
  color: red;
}
#bd .react-jinke-music-player-main.light-theme .rc-switch-checked {
  background-color: #4d85fe !important;
}

#bd .react-jinke-music-player-main.light-theme .music-player-panel {
  box-shadow: 0 -3px 5px #817b7b59 !important;
  color: black !important;
}

#bd .react-jinke-music-player-main.light-theme svg {
  color: #4d85fe !important;
}

.react-jinke-music-player-main
  .music-player-panel
  .panel-content
  .rc-slider-handle,
.react-jinke-music-player-main
  .music-player-panel
  .panel-content
  .rc-slider-track {
  background-color: #4d85fe !important;
}

#bd .loop-btn,
#bd .audio-lists-btn {
  display: none !important;
}
#bd .css-12w9als {
  display: flex;
  gap: 1rem;
  align-items: center;
  > * {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: black;
    text-decoration: none;
    width: 100%;
  }
}
#bd .css-1t8x7v1 {
  width: 100%;
}

#bd .css-1wvake5 {
  height: 100vh;
  position: sticky;
  top: 0;
  min-width: 305px;
}

#bd .css-dip3t8 {
  overflow: hidden;
}

#bd .css-vj11vy.ps-menu-root {
  height: 100%;
}

#bd .css-ewdv3l {
  height: 100%;
  padding: 2rem 0 2rem 2rem;
  background-color: #fff;
}

#bd .css-dip3t8 {
  background-color: white;
}

#bd .css-9ncdej-SideBar {
  height: 100vh;
}

.navigation-checkbox {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  box-shadow: 0 2px 5px #00000099;
}
#bd .css-1t8x7v1:nth-child(2) {
  margin: 2rem 0 10px;
}

#bd .css-1t8x7v1:nth-child(3) {
  margin: 0 0 2rem;
}

.css-1t8x7v1:nth-child(1) > .ps-menu-button:hover,
.css-1t8x7v1:nth-child(2) > .ps-menu-button:hover,
.css-1t8x7v1:nth-child(3) > .ps-menu-button:hover {
  background-color: #fff !important;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}